[submodule "home/.zprezto"]
	path = home/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "home/.vim/bundle/vim-indent-guides"]
	path = home/.vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-sleuth"]
	path = home/.vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "home/.vim/bundle/julia-vim"]
	path = home/.vim/bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
[submodule "home/.vim/bundle/latex-box"]
	path = home/.vim/bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
